server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/sentimentdb
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true

logging:
  level:
    org.hibernate.SQL: debug

ml:
  service:
    url: http://localhost:8000
